services:
  - type: web
    name: skyeats-backend
    env: docker
    plan: free
    envVars:
      - key: MONGO_URI
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: GOOGLE_APPLICATION_CREDENTIALS_JSON
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      - key: PORT
        value: 8080
      - key: SPRING_PROFILES_ACTIVE
        value: prod